.sitelog-container {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
  .sitelog-axis {
    font-size: 12px;
  }
  .sitelog-line {
    fill: none;
  }
  .sitelog-grid {
    opacity: .1;
    stroke-width: 0;
    line {
      stroke-width: 1;
      stroke-dasharray: 2;
    }
  }
  .sitelog-toggles {
    padding-left: 40px;
  }
  .sitelog-center {
    text-align: center;
  }
  table, nav {
    margin-left: 100px;
  }
  caption, .sitelog-title {
    margin: 8px 0 32px;
    font-weight: bold;
    font-size: 16px;
  }
}
.sitelog-color-scheme {
  margin: 0 0 40px 50px;
  img {
    vertical-align: -1px;
    margin: 0 2px 0 5px;
  }
}
.sitelog-legend {
  display: flex;
  margin: 50px 0 50px 50px;
  > div {
    display: flex;
    align-items: center;
    margin-right: 20px;
    .sitelog-legend-key {
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }
  }
  > div:last-child {
    margin-right: 0;
  }
}
.sitelog-country {
  stroke: #ccc;
}
.sitelog-keys {
  font-size: 12px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Lucida Sans", sans-serif;
  .sitelog-keys-caption {
    fill: #333;
    text-anchor: start;
    font-weight: bold;
  }
}
.sitelog-none {
  text-anchor: middle;
}